In [152]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [153]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [168]:
#Calculate total number of schools
school_count = len(school_data_complete["school_name"].unique())
print (school_count)

15

In [155]:
#Calculate total number of students
student_count = school_data_complete["Student ID"].count()
print (student_count)

39170

In [156]:
#Calculate total budget
total_budget = school_data["budget"].sum()
print (total_budget)

24649428

In [157]:
#Calculate average math score
average_math_score = school_data_complete["math_score"].mean()
print (average_math_score)

78.98537145774827

In [158]:
#Calculate average reading score
average_reading_score = school_data_complete["reading_score"].mean()
print (average_reading_score)

81.87784018381414

In [159]:
#Calculate the precentage of student with passing math score
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count/float(student_count) * 100  
print (passing_math_percentage)

74.9808526933878

In [160]:
#Calculate the percentage of students with a passing reading score
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100   
print (passing_reading_percentage)

85.80546336482001

In [161]:
#Calculate the percentage of students who passed math and reading
overall_passing_count = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_percentage = overall_passing_count/float(student_count) * 100
print (overall_passing_percentage)

65.17232575950983

In [162]:
#Create dataframe

district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage], "% Overall Passing": [overall_passing_percentage]})
district_summary

,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,78.985371,81.87784,74.980853,85.805463,65.172326

In [163]:
#Create overview table summarizing key metrics about each school
#School Name
per_school_count = school_data_complete["school_name"].value_counts()
per_school_count.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [164]:
#School Type
school_type = school_data_complete["type"].unique()
school_type

array(['District', 'Charter'], dtype=object)

In [165]:
#Total Students
total_students = school_data_complete["Student ID"].value_counts()
per_school_students = total_students.groupby("school_name").count()
per_school_students.head()

KeyError: 'school_name'

In [ ]:
#Total School Budget
total_school_budget = school_data_complete["budget"].value_counts()
total_school_budget.head()

In [ ]:
#Per Student Budget
per_student_budget = total_school_budget/total_students
per_student_budget.head()

In [184]:
#Average Math Score
average_math_score = school_data_complete["math_score"].mean()
per_school_math = average_math_score.groupby(["school_name"]).count()
per_school_math.head()

AttributeError: 'float' object has no attribute 'groupby'

In [170]:
#Average Reading Score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score.head(15)

AttributeError: 'float' object has no attribute 'head'

In [ ]:
#Calculate total number of % of students passing math by school
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]/per_school_count * 100 
per_school_passing_math.head()

In [ ]:
#Calculate total number of % of students passing reading by school
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]/per_school_count * 100 
per_school_passing_reading.head()

In [ ]:
#Calculate % Overall Passing
school_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
per_school_passing_overall = school_passing_overall.groupby(["school_name"]).count()["student_name"]/per_school_count * 100 
per_school_passing_overall.head()

In [174]:
#Create School Summary DataFrame
school_summary_df = pd.DataFrame({"School Name": school_name,
                                    "School Type": school_type,
                                    "Total Students": total_students,
                                    "Total School Budget": total_school_budget,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": average_math_score,
                                    "Average Reading Score": average_reading_score,
                                    "% Passing Math": per_school_passing_math,
                                    "% Passing Reading": per_school_passing_reading,
                                    "% Overall Passing": per_school_passing_overall})

NameError: name 'school_name' is not defined

In [175]:
grouped_school_summary_df = school_summary_df.groupby(["school_name"])
grouped_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,"[District, Charter]",2047 1 27975 1 9550 1 15693 1 13...,3124928 4976 3094650 4761 3022020 463...,0 NaN 1 NaN 2 NaN 3 ...,78.985371,81.87784,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...

In [180]:
#Top Performing Schools by % overall passing
top_schools = school_summary_df.sort_values(["per_school_passing_overall"]), ascending = False
top_schools.head(5)

SyntaxError: cannot assign to function call (<ipython-input-180-382deeb2ea06>, line 2)

In [ ]:
#Bottom Performing Schools by % overall passing
bottom_schools = school_summary_df.sort_values(["per_school_passing_overall"]), ascending = True
bottom_schools.head(5)

In [186]:
#Math Scores by Grade
#Create pandas series for each grade
by_grade = school_data_complete["grade"].value_counts()

In [ ]:
#Reading Scores by Grade

In [ ]:
#Scores by School Spending

In [ ]:
#Scores by School Size

In [ ]:
#Scores by School Type